* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
}
/*  header-top */

#header-top {
    padding-top: 20px;
    height: 100px;
    background-color: #efefef;
}

#header-top-left {
    width: 50%;
    height: 100%;
    float: left;
}
#top-left {
    list-style-type: none;
}

#top-left li {
    display: inline-block;
    color: black;
    font-size: 20px;
    padding: 10px;
}

#header-top-right {
    width: 50%;
    height: 100%;
    float: right;
}

.cta-container {
float: right;
}

.favicon {
    display: inline-block;
}

#search {
    margin-right: 20px;
    display: inline;
}
.hubspot-button {
  background-color: #ff7a59;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#log-in-button {
  background-color: white;
  border: 1px solid orange;
  color: orange;
  margin-right: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* header-bottom */
#header-bottom {
    height: 120px;
}

#header-bottom-left {
    width: 30%;
    height: 100%;
    float: left;
}

#header-bottom-right {
    width: 70%;
    height: 100%;
    float: right;
}

.nav {
    list-style-type: none;
    text-align: right;
    padding-top: 20px;
}

.nav li {
    display: inline-block;
    color: black;
    font-size: 25px;
    padding: 10px;
}

#hubspot {
    display: block;
    margin-top: 20px;
    width: 40%;
}
/* prima sezione main */


#jumbo-wrapper {
    background-color: #fef8f0;
    position: relative;
}

#jumbo-content {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px;
}
.large-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
.medium-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.small-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* seconda sezione main */

#section-wrapper {
    background-color: #f5f8fa;
    position: relative;
    height: 300px;
}

#section-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section-content-left {
    float: left;
    width: 33%;
}
#section-content-right {
    float: right;
    background-color: white;
    width: 66%;
    padding: 20px;
}
#section-content-right li {
display: inline-block;
padding: 10px;
}
#hub-container {
    position: relative;
    height: 400px;
    background-color: #f5f8fa;
}

#hub-content {
    padding-top: 30px;
}

#box1 {
    float: left;
    padding: 20px;
    background-color: white;
    width: 32%;
}
#box2 {
    float: left;
    margin-left: 20px;
    padding: 20px;
    background-color: white;
    width: 32%;
}
#box3 {
    float: left;
    margin-left: 20px;
    padding: 20px;
    background-color: white;
    width: 32%;
}

.get-started {
  margin-top: 10px;
  background-color: #ff7a59;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
#free-crm {
  margin-top: 10px;
  float: right;
  background-color: #ff7a59;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

ul {
    list-style: none;
}


footer {
    /* height: 600px; */
    background-color: #33475b;
    border: 1px solid white;
}
