* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
}
/* inizio proprietà CSS del header-top */
#header-top {
    height: 120px;
    background-color: #efefef;
    border: 2px solid black;
}

#header-top-left {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid black;
}
#top-left {
    list-style-type: none;
}

#top-left li {
    display: inline-block;
    color: black;
    font-size: 20px;
    padding: 10px;
}
/* inizio proprietà CSS del header-top-right */
#header-top-right {
    width: 50%;
    height: 100%;
    float: right;
    border: 1px solid black;
}

.cta-container{
float: right;
}
#search-icon {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
}
.hubspot-button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#log-in-button {
  background-color: white;
  border: 1px solid orange;
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* inizio proprietà CSS del header-bottom */
#header-bottom {
    height: 120px;
    border: 2px solid black;
}

#header-bottom-left {
    width: 30%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

#header-bottom-right {
    width: 70%;
    height: 100%;
    float: right;
    border: 1px solid black;
}

.nav {
    list-style-type: none;
    text-align: right;
    padding-top: 20px;
}

.nav li {
    display: inline-block;
    color: black;
    font-size: 25px;
    padding: 10px;
}

img {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    width: 40%;
}
/* inizio proprietà CSS del main */
#features {
    background-color: #fef8f0;
    height: 500px;
}
/* inizio proprietà CSS del footer */

footer {
    height: 200px;
    background-color: #33475b;
    border: 1px solid white;
}
